
<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.file_field :avatar %>
    <%= f.input :first_name, required:true, error: 'Name is mandatory, please specify one' %>
    <%= f.input :last_name %>
    <%= f.input :address %>
    <%= f.input :suburb %>
    <%= f.input :state %>
    <%= f.input :postcode, error: 'Postcode is mandatory, please specify one' %>
    <%= f.input :facebook %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-dark" %>
  </div>
<% end %>
