<p id="notice"><%= notice %></p>

<div class="row catshow">
  <div class="col-sm-4">
    <h1><strong><%= @category.description %></strong></h1>
  </div>
  <div class="col-sm-8 divImage">
    <span class="catImage" style='margin-left:70%'><%= image_tag @category.avatar_url %></span>
  </div>
<div class="catLinks">
  <%= link_to 'Edit', edit_category_path(@category), class:"btn btn-dark" %>
  <%= link_to 'Back', categories_path, class:"btn btn-dark" %>
</div>