<!DOCTYPE html>
<html>
  <head>
    <title>Skillme</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
  <%# Nav bar %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Skillme</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if current_user.has_completed_profile? %>
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      <% end %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% if !user_signed_in? %>
          <a class="dropdown-item" href="/users/sign_in">Log in</a>
          <a class="dropdown-item" href="/users/sign_up">Sign up</a>
        <% end %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class:'dropdown-item' %>
          <a class="dropdown-item" href="/profile">Profile</aa>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Welcome back ...</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
  <div class="container-fluid">
    <%= yield %>
  </body>
  </div>
			</div>
  <footer class="footer-distributed">

			<div class="footer-right">

				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
        <% if current_user.has_completed_profile? %>
					<a class="aboutus" href="/static_pages/about">About Us</a>
					<a href="/static_pages/contact">Contact us</a>
        <% end %>
				</p>

				<p>Skillme &copy</p>

		</footer>
</html>
